{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<div class="wrapper">
			<header class="site-header">
				{% block header %}
					<div class="site-header__inner">
						<h1 class="site-logo" role="banner">
							<a class="site-logo__link" href="{{site.url}}" rel="home"><img src="{{ theme.link }}/assets/dist/img/theme-symbol.svg" alt="{{site.name}}" height="50">{{site.name}}</a>
						</h1>

						<nav id="nav-main" class="nav-main" role="navigation">
							{% include "menu.twig" with {'items': menu.get_items} %}
						</nav><!-- #nav -->

						<button class="hamburger hamburger--collapse" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				{% endblock %}
			</header>

			<section id="content" role="main" class="site-main content-wrapper">
				{% if title %}<h1>{{title}}</h1>{% endif %}
				<div class="wrapper container {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block footer %}
				<footer class="site-footer" id="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>
